<% provide(:title, "Knowledge") %>

<h1>Knowledge</h1>

<h3>Rails や web アプリの知見が深まった</h3>
<p>サンプルアプリと比較しながら作ることによって，開発手順や設計などの勉強になった</p>
<p>自分の目的に合わせてちょこちょこ変更していくので，デバッグの練習になった</p><br>

<h3>時間が限られているので，実装できる機能は少ない</h3>
<p>最低限どういう機能があれば要件を満たせるか考えるいい練習になった</p>
<p>余分な機能を削ぎ落とすということも大事</p><br>

<h3>普段の issue 修正では得られない知見</h3><br>
<p>来年以降のメンター活動にも役立ちそう</p>