<% provide(:title, "Motivation") %>

<h1>Motivation</h1>

<p>せっかく開発合宿でなにかやるなら
業務に思いっきり役立つスキルを身に着けたい</p>
<p>業務に役立つスキルってなんだ？</p>
<p>普段は Rails で Web アプリ作ってるよなぁ……</p>
<p>そういえば，Rails で Web アプリを一から作ったことないなぁ……</p><br>

<h3>Go 中山さんがやってた新人研修でよくね？</h3><br>
<p>ねこ日報を rails で作り直すってやつ</p><br>

<p>新卒研修あんまりできなかったし，
ねこの新人は rails tutorial から始める文化のようだから，
Rails tutorial を参考にしながらやれば，来年以降のメンター活動にも役立ちそう</p>