<footer class="footer">
  <small>
    <a href="https://journal.nekojarashi.com/">ねこ日報</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://railstutorial.jp/">Rails Tutorial</a></li>
    </ul>
  </nav>
</footer>